{% extends "base.html" %}
{% load static i18n bootstrap4 %}

{% block content %}
    <h1 class="mb-3">{% translate 'Register yourself for studies' %}</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}

        {% bootstrap_field form.first_name %}
        {% bootstrap_field form.last_name %}
        {% bootstrap_field form.gender %}
        {% bootstrap_field form.date_of_birth %}
        {% bootstrap_field form.email %}
        {% bootstrap_field form.phone_number %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary" >{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
