{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% translate 'Are you sure you wish to delete your data from the subject registration repository?' %}</p>
        <button class="btn btn-danger mb-1">{% translate 'Confirm' %}</button>
    </form>
{% endblock %}
