<!DOCTYPE html>
{% load i18n static bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <title>{% block title %}{% translate "Self registration" %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vanillajs-datepicker/dist/css/datepicker.min.css' %}" />
</head>
<body>
    <header class="bg-dark">
        <nav class="container navbar navbar-expand-sm navbar-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{% url 'subject-create' %}" class="navbar-brand">{% translate "Self registration" %}</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container py-3">
        {% for message in messages %}
            <div class="{{ message|bootstrap_message_classes }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'vanillajs-datepicker/dist/js/locales/de.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
